Repository GazzolaLab/PyElastica, pull requests merged in 2022-03, with the labels that each got.

#65 [Documentation] Rework for v0.2.2
  .coveragerc
  CONTRIBUTING.md
  docs/README.md
  docs/README.rst
  docs/_static/css/logo.css
  docs/advanced/LocalizedForceTorque.md
  docs/advanced/PackageDesign.md
  docs/api/callback.rst
  docs/api/connections.rst
  docs/api/constraints.rst
  docs/api/external_forces.rst
  docs/api/rigidbody.rst
  docs/api/rods.rst
  docs/api/simulator.rst
  docs/api/time_steppers.rst
  docs/api/utility.rst
  docs/archive/NCSA-NVIDIA-AI-Hackathon-2020.md
  docs/conf.py
  docs/documentation.rst
  docs/elastica++.rst
  docs/getting_started.md
  docs/guide/discretization.md
  docs/guide/example_cases.rst
  docs/guide/pybind.md
  docs/guide/visualization.md
  docs/guide/workflow.md
  docs/index.rst
  docs/installation.rst
  docs/intro_page.rst.inc
  docs/overview/installation.md
  docs/overview/welcome_page.rst
  docs/requirements.txt
  elastica/_calculus.py
  elastica/boundary_conditions.py
  elastica/callback_functions.py
  elastica/external_forces.py
  elastica/joint.py
  elastica/rigidbody/cylinder.py
  elastica/rigidbody/rigid_body.py
  elastica/rigidbody/sphere.py
  elastica/rod/__init__.py
  elastica/rod/cosserat_rod.py
  elastica/rod/rod_base.py
  elastica/utils.py
Labels: documentation, update

#64 [Core] Wrapper Redesign
  elastica/wrappers/base_system.py
  elastica/wrappers/callbacks.py
  elastica/wrappers/connections.py
  elastica/wrappers/constraints.py
  elastica/wrappers/forcing.py
  tests/test_wrappers/test_callbacks.py
  tests/test_wrappers/test_connections.py
  tests/test_wrappers/test_constraints.py
  tests/test_wrappers/test_forcing.py
Labels: enhancement

#69 Release 0.2.2
  .coveragerc
  CONTRIBUTING.md
  RELEASE.md
  docs/README.md
  docs/README.rst
  docs/_static/css/logo.css
  docs/advanced/LocalizedForceTorque.md
  docs/advanced/PackageDesign.md
  docs/api/callback.rst
  docs/api/connections.rst
  docs/api/constraints.rst
  docs/api/external_forces.rst
  docs/api/rigidbody.rst
  docs/api/rods.rst
  docs/api/simulator.rst
  docs/api/time_steppers.rst
  docs/api/utility.rst
  docs/archive/NCSA-NVIDIA-AI-Hackathon-2020.md
  docs/conf.py
  docs/documentation.rst
  docs/elastica++.rst
  docs/getting_started.md
  docs/guide/discretization.md
  docs/guide/example_cases.rst
  docs/guide/pybind.md
  docs/guide/visualization.md
  docs/guide/workflow.md
  docs/index.rst
  docs/installation.rst
  docs/intro_page.rst.inc
  docs/overview/installation.md
  docs/overview/welcome_page.rst
  docs/requirements.txt
  elastica/_calculus.py
  elastica/boundary_conditions.py
  elastica/callback_functions.py
  elastica/external_forces.py
  elastica/joint.py
  elastica/rigidbody/cylinder.py
  elastica/rigidbody/rigid_body.py
  elastica/rigidbody/sphere.py
  elastica/rod/__init__.py
  elastica/rod/cosserat_rod.py
  elastica/rod/rod_base.py
  elastica/utils.py
  elastica/version.py
  elastica/wrappers/base_system.py
  elastica/wrappers/callbacks.py
  elastica/wrappers/connections.py
  elastica/wrappers/constraints.py
  elastica/wrappers/forcing.py
  examples/FlexibleSwingingPendulumCase/flexible_swinging_pendulum.py
  examples/RodContactCase/RodSelfContact/PlectonemesCase/plectoneme_case.py
  examples/RodContactCase/RodSelfContact/SolenoidsCase/solenoid_case.py
  setup.py
  tests/test_wrappers/test_callbacks.py
  tests/test_wrappers/test_connections.py
  tests/test_wrappers/test_constraints.py
  tests/test_wrappers/test_forcing.py
Labels: documentation, enhancement, update

#70 Add functions to compute topological quantities
  .coveragerc
  .flake8
  Makefile
  docs/api/rods.rst
  docs/conf.py
  elastica/__init__.py
  elastica/rod/__init__.py
  elastica/rod/cosserat_rod.py
  elastica/rod/knot_theory.py
  examples/README.md
  examples/RodContactCase/RodSelfContact/PlectonemesCase/plectoneme_case.py
  examples/RodContactCase/RodSelfContact/SolenoidsCase/solenoid_case.py
  examples/RodContactCase/post_processing.py
  tests/test_boundary_conditions.py
  tests/test_interaction.py
  tests/test_rod/test_cosserat_rod.py
  tests/test_rod/test_knot_theory.py
  tests/test_rod/test_rods.py
Labels: enhancement, update
